body{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrepper-navbar{
    width: 25px;
}
.start-40 {
    left: 40%!important;
}
.collapse{
    display: fixed;
}